@import "../base";

$blue: #2879ca;
$red: #f00;
$yellow: #ff0;

#backButton {
	padding-left: 0.5em;
	padding-top: 0.4em;
	font-size: 3em;
	display: inline-block;

	&::before {
		font-family: "FontAwesome";
		content: "\f053";
	}
}

table#gameTable {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	padding-top: 40%;
	display: block;
	position: relative;
	z-index: 1;

	> tbody {
		height: 100%;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		top: 0;
		left: 0;

		> tr {
			flex: 1 0 100%;
			display: flex;
			overflow: hidden;

			> td {
				flex: 1;
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
				overflow: hidden;

				> .inner {
					background-color: transparent;
					box-shadow: 0 0 0 1000em $blue;
					border-radius: 50%;
					height: 80%;
					width: 80%;
					margin: 0 10%;
					outline: none;
				}
				&.occupied {
					> .inner {
						&.red {
							background-color: $red;
						}
						&.yellow {
							background-color: $yellow;
						}
					}
				}
			}
		}

		&#token {
			display: block;

			> tr {
				height: 100%;
				width: 100%;

				> td {
					height: 100%;
					width: 100%;

					.inner {
						box-shadow: none;
						border: none;
					}
				}
			}
		}
	}
}
