@import "../base";

body {
	text-align: center;

	#backButton {
		position: absolute;
		left: 0.5em;
		top: 0.4em;
		font-size: 3em;
		
		&::before {
			font-family: "FontAwesome";
			content: "\f053";
		}
	}

	p {
		font-size: 2em;
		line-height: 3em;

		&:first-child,
		&#playButton {
			font-size: 5em;
		}
	}
}
